<form action="/payment/results">
  <label for="swift">APR</label>
  <input id="swift" type="text" placeholder="E.g. 5.42" name="user_apr"><br>
  
  <label for="jay">Number of years</label>
  <input id="jay" type="text" placeholder="How many years to repay?" name="user_years"><br>
  
  <label for="base">Principal</label>
  <input id="base" type="text" placeholder="How much principal?" name="user_pv">

  <br><button>Calculate monthly payment</button>
</form>