<h1></h1>

<dl>
  <dt>Minimum</dt>
  <dd><%= @lower %></dd>

  <dt>Minimum</dt>
  <dd><%= @upper %></dd>

  <dt>Minimum</dt>
  <dd><%= @result %></dd>

</dl>

<a href="/random/new">Pick another random number</a>