<form action="/random/results">
  <label for="zebra">Minimum</label>
  <input id="zebra" type="text" placeholder="E.g. 1.5" name="user_min">
  <br>
  <label for="gazelle">Maximum</label>
  <input id="gazelle" type="text" placeholder="E.g. 4.5" name="user_max">

  <br><button>Pick random number</button>
</form>